.body{
    margin: 0px auto;

}



.bg-light {

   background-color:  #5fbb49 !important
}




.navbar-brand{
    width:220px;
    height:100px;
    margin-top: -5px;
    margin-left: 60px;

}


.btn{
    background-color: #1b2736;
    color: #ffffff;
    border: #ffffff;
    margin-left: 5px;

}

.btn:hover{

    color: #ffffff;

}

.navbar-light .navbar-nav .nav-link.active{
    color: #1b2736;
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link.active:hover{
    color: #ffffff;
}

.nav-item{
    padding: 20px;
}


.half-width{

   width:35%;
   margin: 150px 0px 0px 230px;
    float: left;
}





h1 {
 margin-left: -160px;
 margin-top: 35px;
 color: #5fbb49;

}

p{
    margin-left: -160px;
    color: dimgrey;
}

.about{
    font-weight: bold;
    font-size: larger;
    color: #1b2736;
}

#border{
    border: 6px solid #1b2736;
    
   
}

.copy-right{
    height: 60px;
    background-color: #1b2736;
    color: #ffffff;
    text-align: center;
    
    

}

section{
    height: 700px;
}


h5{
   padding: 16px;
}